.userAuth {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    
    &__avatar {
        margin-right: 16px; 
    }

    &__name {
        line-height: 140%;
        font-size: 20px;
        font-weight: 600;
        color: var(--onyx);
    }

    &__email,
    &__group {
        line-height: 100%;
        font-size: 14px;
        color: var(--onyx);
        opacity: 0.5;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
    }

    &__icon {
        width: 24px;
        height: 24px;
        color: var(--onyx);
        opacity: 0.5;
    }

    &__dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 305px;
        padding: 16px 16px 0;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0 4px 8px #00000030;
        bottom: -8px;
        right: 0;
        transform: translateY(100%);
        overflow: hidden;
    }

    &__userInfo {
        display: flex;
        padding-bottom: 16px;
    }

    &__dropItem {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 -16px;
        padding: 0 24px;
        color: var(--onyx);
        transition: 0.2s ease all;

        &:hover {
            @apply bg-primary bg-opacity-5;
        }
    }

    &__dropItemIcon {
        width: 20px;
        height: 20px;
        height: 60px;
    }

    &__divider {
        background: #CECECE;
        height: 1px;
        width: 100%;
    }
}